@use "../abstracts" as *;
$button-height: 60px;
$button-width: 150px;
.menu{
    display: flex;
    column-gap: 35px;
    justify-content: end;
    // background-color: yellow;
}
.menu__item{
    // font-size: 16px;
    font-weight: 100;
    color: rgba($color: $white, $alpha: 0.8);
    // background-color: red;
}
.menu__item--contact{
    height: $button-height;
    width: $button-width;
    background-color: $white;
    border-radius: $button-width * 0.5;
    color: $very-dark-desaturated-blue;
    text-transform: uppercase;
    font-family: $font-family-fraunces;
    font-size: 17px;
    position: relative;
    bottom: 18px;
    display: grid;
    place-items: center;

    &:hover{
        background-color: rgba($color: $white, $alpha: 0.1);
        color: rgba($color: $white, $alpha: 0.8);
    }
}
