$layout-breakpoint-xxl-large: 1440px;
$layout-breakpoint-xl-large: 1200px;
$layout-breakpoint-large: 992px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-small: 576px;
$layout-breakpoint-xs-small: 0px;
