@use "../abstracts" as *;
$user-image-width: 40px;
$user-image-height: 20px;
.user__container{
    display: grid;
    row-gap: 10px;
}
.user{
    background-color: $white;
    padding: 20px 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 40px repeat(4, 1fr);
    gap: 20px;

    @media screen and (max-width: $layout-breakpoint-medium){
        padding: 20px 20px;
    }
}
.user__header{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 20px;
    grid-area: 1 / 2 / 2 / 5;

    
    @media screen and (max-width: $layout-breakpoint-xl-large){
        column-gap: 5px;
    }
    
    @media screen and (max-width: $layout-breakpoint-small){
        grid-area: 1 / 1 / 2 / 7;
        column-gap: 10px;
    }
}
.user__image{
   width: $user-image-width;
}
.user__username{
    color: $dark-blue;
    font-weight: $font-weight-bold;
}
.user__status{
    background-color: $moderate-blue;
    color: $white;
    padding:0 5px 2px;
    border-radius: 2px;
}
.status--not-you{
    display: none;
}
.user__created-at{
    color: $grayish-blue;
}
.user__content{
    color: $grayish-blue;
    grid-area: 2 / 2 / 6 / 6;
    caret-color: $moderate-blue;
    &:focus{
        outline: 2px solid $moderate-blue;
        border-radius: 10px;
        padding: 10px 20px;
    }

    @media screen and (max-width: $layout-breakpoint-small) {
        grid-area: 2 / 1 / 5 / 6 ;
    }
}
.user__replying-to{
    color: $moderate-blue;
    font-weight: $font-weight-bold;
}
.score{
    background-color: $very-light-gray;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    border-radius: 10px;  
    grid-area: 1 / 1 / 5 / 2;

    @media screen and (max-width: $layout-breakpoint-small){
        grid-area: 6 / 1 / 8 / 3;
        flex-direction: row;
        padding: 10px 0;
    }
}
.score__count{
    color: $moderate-blue;
    font-weight: $font-weight-bold;
}
.container__button{
    grid-area: 1 / 4 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;

    @media screen and (max-width: $layout-breakpoint-small){
        grid-area: 6 / 3 / 8 / 7;
    }
}
.button{
    padding: 10px;
    text-align: end;

    
    @media screen and (max-width: $layout-breakpoint-xl-large){
        padding: 5px;
    }
    @media screen and (max-width: $layout-breakpoint-small){
        padding: 10px;
    }

}
.button__value{
    color: $moderate-blue;
    font-weight: $font-weight-bold;
    font-size: $font-size-paragraph;

    .button__delete &{
        color: $soft-red;
    }
}
.user__current{
    display: block;
}
.form{
    display: grid;
    grid-template-columns: auto 3fr 0.8fr;
    align-items: start;
    column-gap: 20px;

    & img{
        @media screen and (max-width: $layout-breakpoint-small){
            grid-area: 2 / 1 / 3 / 2 ;
        } 
    }
    @media screen and (max-width: $layout-breakpoint-small){
        grid-template-columns: repeat(2, auto);
        row-gap: 10px;
    }   
}
.textarea{
    resize: none;
    height: 100px;
    width: 100%;
    max-width: 590px;
    padding: 10px 20px;
    outline: 2px solid $light-gray;
    border-radius: 10px;
    font-size: $font-size-paragraph;
    color: $grayish-blue;
    caret-color: $moderate-blue;
    &:focus{
        outline: 1px solid $moderate-blue
    }

    @media screen and (max-width: $layout-breakpoint-small){
        width: auto;
        grid-area:  1 / 1 / 2 / 3;
    }
}
.button__current-user{
    background-color: $moderate-blue;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-paragraph;
    padding: 10px 20px;

    @media screen and (max-width: $layout-breakpoint-small){
        grid-area:  2 / 2 / 3 / 3;
    }
}
.button__update{
    display: none;
    grid-area: 6 / 5 / 7 / 6;

    @media screen and (max-width: $layout-breakpoint-small){
        grid-area:  5 / 5 / 6 / 6;
    }
}
.content--false{
    display: none;
}
.user__current--reply{
    display: none;
}

