@use "../abstracts" as *;
.header {
    background: url(../images/desktop/image-header.jpg) no-repeat;
    background-size: 100% 100%;
    color: $white;
    height: 100%;
    max-width: 100%;
    text-align: center;
}
.header__image--arrow-down{
    margin-top: 100px;

    @media screen and (max-width: $layout-breakpoint-small){
        margin-top: 49px;
    }
}
