* {
    box-sizing: border-box;
}

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    --normalFontWeight: 400;
    --boldFontWeight: 700;
    --bolderFontWeight: 800;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--offWhite);

}

.mainContainer {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

.parentContainer {
    width: 65vw;
    margin: 2vh 0 7vh 0;
    /* border: 1px solid red; */
}

nav {
    display: grid;
    grid-template-columns: auto 30%;
}

.navbarLogo {
    display: flex;
    align-items: center;
}

#hamburgerMenuImage {
    display: none;
}

.mobileNavbarLinks div:nth-child(1) {
    /* float: right; */
    display: flex;
    justify-content: end;

}

.mobileNavbarLinkTag {
    display: block;
    text-decoration: none;
    color: var(--darkGrayishBlue);
    margin: 1rem 0 0 2rem;
}

.navbarLinks {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbarLinkTag {
    text-decoration: none;
    color: var(--darkGrayishBlue);
    padding-left: 1.5vw;
}

/* section main Div */
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vw;
    padding: 4vh 0;
}

/* whole left side div */
.leftComponent {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1vh;
}

.webImage {
    width: 44vw;
    max-height: 30vh;
    height: max-content;
}

/* left side content below iamge */
.sectionContainer {
    display: grid;
    grid-template-columns: auto auto;
    width: 44vw;
}

.leftContainer {
    font-size: 3.5vw;
    font-weight: 900;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.rightContainer {
    /* border: 1px solid tomato; */
    display: grid;
}

.rightContainer>p {
    line-height: 1.6;
    color: var(--darkGrayishBlue);
}

.buttonContainer {
    background-color: var(--softRed);
    color: var(--offWhite);
    width: 13vw;
    height: 6vh;
    border: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}


.rightComponent {
    background-color: var(--veryDarkBlue);
    color: var(--offWhite);
    padding: 0.5vh 1.2vw;
}

.NewTextHeading {
    color: var(--softOrange);
    font-size: 2vw;
}

.rightComponentHeading3 {
    padding: 0;
}

.rightComponent p {
    color: var(--grayishBlue);
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.rightComponent hr {
    margin: 2vw 0;
}



footer {
    display: flex;
    justify-content: space-between;
}

.footerChildContainer {
    display: grid;
    grid-template-columns: auto 15vw;
    /* border: 1px solid blue; */
}

.footerLeftContent {
    height: 100%;
    width: 100%;
}

.footerRightContainer,
.footerRightContent,
.footerRightContentHeading1,
.footerRightContentHeading3,
.footerRightContent>p {
    margin: 0;
    padding: 0;
}

.footerRightContent {
    /* width: 90%; */
    padding-left: 0.5vw;
    /* border: 1px solid green; */
}

.footerRightContentHeading1 {
    color: var(--grayishBlue);
}

.footerRightContentHeading3 {
    font-weight: var(--bolderFontWeight);
    margin: 1vh 0;
}

.footerRightContent>p {
    color: var(--darkGrayishBlue);
    line-height: 1.6;
    font-size: 14.5px;
}


@media screen and (max-width: 600px) {
    .parentContainer {
        width: 85vw;
    }

    #hamburgerMenuImage {
        display: block;
    }

    .navbarLinkTag {
        display: none;
    }

    section {
        display: block;
    }

    .leftComponent {
        display: block;
    }
    
    .webImage {
        width: 100%;
        height: 100vh;
    }
    
    /* left side content below iamge */
    .sectionContainer {
        display: block;
        width: 100%;
    }
    
    .leftContainer {
        font-size: 6vh;
        display: block;
    }
    
    .rightContainer {
        display: block;
    }
    .buttonContainer {
        width: 25vh;
        height: 6vh;
    }
    

    .rightComponent {
        padding: 1vh 5vw;
    }

    .NewTextHeading {
        font-size: 5vh;
    }
    .rightComponentHeading3 {
        margin: 1vh 0;
        padding: 0;
    }
    
    .rightComponent p {
        color: var(--grayishBlue);
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    
    .rightComponent hr {
        margin: 4vh 0;
    }
    

    footer {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
        margin: 0;
    }

    .footerLeftContent {
        /* max-height: 20vh;
        width: auto; */

        object-fit: cover;
        width: 25vw;
        /* border: 1px solid blue; */
    }

    .footerChildContainer {
        grid-template-columns: auto auto;
        column-gap: 6vw;
        /* border: 1px solid green; */
    }
}