* {
    box-sizing: border-box;
}

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    --normalFontWeight: 400;
    --boldFontWeight: 700;
    --bolderFontWeight: 800;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--offWhite);

}

.mainContainer {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

.parentContainer {
    width: 65vw;
    margin: 2vh 0 7vh 0;
}

nav {
    display: grid;
    grid-template-columns: auto 30%;
}

.navbarLogo {
    display: flex;
    align-items: center;
}

#hamburgerMenuImage {
    display: none;
}
#mobileNavbarLinks{
    display: none;
    width: 65vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    

}
#mobileNavbarLinks div:nth-child(1) {
    display: flex;
    justify-content: end;

}

.mobileNavbarLinkTag {
    display: block;
    text-decoration: none;
    color: var(--darkGrayishBlue);
    margin: 1rem 0 0 2rem;
}

.navbarLinks {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbarLinkTag {
    text-decoration: none;
    color: var(--darkGrayishBlue);
    padding-left: 1.5vw;
}
.active {
    color: var(--softRed);
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vw;
    padding: 4vh 0;
}

.leftComponent {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1vh;
}

.webImage {
    width: 44vw;
    max-height: 30vh;
    height: max-content;
}

.sectionContent {
    display: grid;
    grid-template-columns: auto auto;
    width: 44vw;
}

.sectionLeftContainer {
    font-size: 3.5vw;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.sectionRightContainer {
    display: grid;
}

.sectionRightContainer>p {
    line-height: 1.6;
    color: var(--darkGrayishBlue);
}

.buttonContainer {
    background-color: var(--softRed);
    color: var(--offWhite);
    width: 13vw;
    height: 6vh;
    border: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}


.rightComponent {
    background-color: var(--veryDarkBlue);
    color: var(--offWhite);
    padding: 0.5vh 1.2vw;
}

.NewTextHeading {
    color: var(--softOrange);
    font-size: 2vw;
}

.rightContentHeading3 {
    padding: 0;
    font-size: 1.17em;
    font-weight: var(--boldFontWeight);
    color: var(--offWhite);
    text-decoration: none;
}
.rightContentHeading3:active{
    color: var(--softOrange);
}

.rightComponent p {
    color: var(--grayishBlue);
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.rightComponent hr {
    margin: 2vw 0;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footerChildContainer {
    display: grid;
    grid-template-columns: auto 15vw;
}

.footerLeftContent {
    height: 100%;
    width: 100%;
}

.footerRightContainer,
.footerRightContent,
.footerRightContentHeading1,
.footerRightContentHeading3,
.footerRightContent>p {
    margin: 0;
    padding: 0;
}

.footerRightContent {
    padding-left: 0.5vw;
}

.footerRightContentHeading1 {
    color: var(--grayishBlue);
}

.footerRightContentHeading3 {
    font-size: 1.17em;
    font-weight: var(--bolderFontWeight);
    color: black;
    text-decoration: none;
    margin: 1vh 0;
}
.footerRightContentHeading3:active{
    color: var(--softRed);
}

.footerRightContent>p {
    color: var(--darkGrayishBlue);
    line-height: 1.6;
    font-size: 14.5px;
}


@media screen and (max-width: 600px) {
    .parentContainer {
        width: 85vw;
    }
    #navbarLogoImage{
        height: 4vh;
    }
    #hamburgerMenuImage {
        display: block;
    }

    .navbarLinkTag {
        display: none;
    }

    section {
        display: block;
        padding-bottom: 0;
    }

    .leftComponent {
        display: block;
    }
    .webImage {
        width: 100%;
    }
    
    .sectionContent {
        display: block;
        width: 100%;
    }
    
    .sectionLeftContainer {
        font-size: 6vh;
        display: block;
        margin-top: 2vh;
        line-height: 1;
    }
    
    .sectionRightContainer {
        display: block;
    }
    .buttonContainer {
        width: 25vh;
        height: 6vh;
    }
    
    .rightComponent {
        padding: 1vh 5vw;
        margin: 7vh 0;
    }
    .NewTextHeading {
        font-size: 5vh;
    }
    .rightContentHeading3 {
        margin: 1vh 0;
        padding: 0;
    }   
    .rightComponent p {
        color: var(--grayishBlue);
        font-size: 14px;
        margin: 0;
        padding: 0;
    }   
    .rightComponent hr {
        margin: 4vh 0;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
        margin: 0;
    }
    .footerLeftContent {
        object-fit: cover;
        width: 25vw;
    }

    .footerChildContainer {
        grid-template-columns: auto auto;
        column-gap: 6vw;
    }
}